.add-skills {
    border: solid 1px var(--accents);
    border-radius: 5px;
    padding: 20px 15px;
    margin-bottom: 30px;



    label {
        font-size: 14px;
        margin-right: 15px;
    }

    input {
        width: 270px;
        height: 40px;
        border: 1px solid #667081;
        border-radius: 5px;
        font-size: 12px;
        padding-left: 10px;
        outline-color: var(--accents);
    }


    .error {
        margin-left: 82px;
        height: 25px;
        color: coral;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }


}

@media (max-width: 750px) {
    .add-skills {
        .error {
            margin-left: 0;
        }
    }
}

// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//   }

//   label {
//     margin-bottom: 10px; 
//   }
//   form {
//     margin: 100px;
//     height: 200px;
//     display: flex;
//     flex-direction: column;
//     width: 200px;
//     font-size: 17px;
//   }

//   button {
//     width: 50%;
//     margin-top: auto;
//     font-size: 17px;
//   }

//   input {
//     padding: 3px 10px;
//   }

//   input[type=number] {
//     -moz-appearance: textfield;
//   }

//   input::-webkit-outer-spin-button,
//   input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }

//   input, button {
//     height: 30px;
//   }

//   .error {
//     height: 15px;
//     color: red;
//     margin-bottom: 10px;
//   }