.home {
    background: linear-gradient(rgba(34, 41, 53, 0.7), rgba(34, 41, 53, 0.7)), url(../../assets/img/tree-tops.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



